@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  width: 600px;
}

/*
.PopupPage {
}
*/

.QueryInput {
  border: none;
  font-size: 30px;
  margin: 0;
  outline: none;
  padding: 8px;
  width: 100vw;
}

.CandidateList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & .Candidate {
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 8px;
  }

  & .Candidate.Select {
    background-color: red;
  }

  & .Icon {
    min-height: 32px;
    min-width: 32px;
  }

  & .Informations {
    overflow: scroll;
    margin-left: 8px;
    flex-grow: 1;
  }

  & .Title {
    font-size: 18px;
    line-height: 1;
    overflow: scroll;
    white-space: nowrap;
  }

  & .Url {
    color: #999;
    line-height: 1;
    overflow: scroll;
    white-space: nowrap;
  }
}
